USE BLOG

CREATE TABLE [Tags] (
  [Id] uniqueidentifier NOT NULL
, [Name] nvarchar(30) NOT NULL
, [Created] datetime NOT NULL
, [Modified] datetime NULL
);
GO
CREATE TABLE [Images] (
  [Id] uniqueidentifier NOT NULL
, [Name] nvarchar(50) NOT NULL
, [Extension] nvarchar(4) NOT NULL
, [Created] datetime NOT NULL
, [Modified] datetime NULL
);
GO
CREATE TABLE [FeedStatistics] (
  [Id] uniqueidentifier NOT NULL
, [Application] nvarchar(50) NULL
, [Identifier] nvarchar(40) NULL
, [Users] int NOT NULL
, [Visits] int NOT NULL
, [Created] datetime NOT NULL
, [Modified] datetime NULL
);
GO
CREATE TABLE [BlogEntries] (
  [Id] uniqueidentifier NOT NULL
, [Header] nvarchar(150) NOT NULL
, [HeaderUrl] nvarchar(160) NOT NULL
, [Author] nvarchar(100) NULL
, [ShortContent] nvarchar(1500) NOT NULL
, [Content] nvarchar(MAX) NULL
, [Visits] int NOT NULL
, [Visible] bit NOT NULL
, [PublishDate] datetime NOT NULL
, [Created] datetime NOT NULL
, [Modified] datetime NULL
);
GO
CREATE TABLE [TagBlogEntries] (
  [Tag_Id] uniqueidentifier NOT NULL
, [BlogEntry_Id] uniqueidentifier NOT NULL
);
GO
CREATE TABLE [BlogEntryPingbacks] (
  [Id] uniqueidentifier NOT NULL
, [Homepage] nvarchar(4000) NOT NULL
, [BlogEntryId] uniqueidentifier NOT NULL
, [Created] datetime NOT NULL
, [Modified] datetime NULL
);
GO
CREATE TABLE [BlogEntryFiles] (
  [Id] uniqueidentifier NOT NULL
, [Name] nvarchar(100) NOT NULL
, [Extension] nvarchar(4) NOT NULL
, [Counter] int NOT NULL
, [BlogEntryId] uniqueidentifier NOT NULL
, [Created] datetime NOT NULL
, [Modified] datetime NULL
);
GO
CREATE TABLE [BlogEntryComments] (
  [Id] uniqueidentifier NOT NULL
, [Name] nvarchar(50) NOT NULL
, [Comment] nvarchar(2500) NOT NULL
, [Email] nvarchar(50) NULL
, [Homepage] nvarchar(100) NULL
, [AdminPost] bit NOT NULL
, [BlogEntryId] uniqueidentifier NOT NULL
, [Created] datetime NOT NULL
, [Modified] datetime NULL
);
GO
ALTER TABLE [Tags] ADD CONSTRAINT [PK_dbo.Tags] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Images] ADD CONSTRAINT [PK_dbo.Images] PRIMARY KEY ([Id]);
GO
ALTER TABLE [FeedStatistics] ADD CONSTRAINT [PK_dbo.FeedStatistics] PRIMARY KEY ([Id]);
GO
ALTER TABLE [BlogEntries] ADD CONSTRAINT [PK_dbo.BlogEntries] PRIMARY KEY ([Id]);
GO
ALTER TABLE [TagBlogEntries] ADD CONSTRAINT [PK_dbo.TagBlogEntries] PRIMARY KEY ([Tag_Id],[BlogEntry_Id]);
GO
ALTER TABLE [BlogEntryPingbacks] ADD CONSTRAINT [PK_dbo.BlogEntryPingbacks] PRIMARY KEY ([Id]);
GO
ALTER TABLE [BlogEntryFiles] ADD CONSTRAINT [PK_dbo.BlogEntryFiles] PRIMARY KEY ([Id]);
GO
ALTER TABLE [BlogEntryComments] ADD CONSTRAINT [PK_dbo.BlogEntryComments] PRIMARY KEY ([Id]);
GO
CREATE INDEX [IX_BlogEntry_Id] ON [TagBlogEntries] ([BlogEntry_Id] ASC);
GO
CREATE INDEX [IX_Tag_Id] ON [TagBlogEntries] ([Tag_Id] ASC);
GO
CREATE INDEX [IX_BlogEntryId] ON [BlogEntryPingbacks] ([BlogEntryId] ASC);
GO
CREATE INDEX [IX_BlogEntryId] ON [BlogEntryFiles] ([BlogEntryId] ASC);
GO
CREATE INDEX [IX_BlogEntryId] ON [BlogEntryComments] ([BlogEntryId] ASC);
GO
ALTER TABLE [TagBlogEntries] ADD CONSTRAINT [FK_dbo.TagBlogEntries_dbo.BlogEntries_BlogEntry_Id] FOREIGN KEY ([BlogEntry_Id]) REFERENCES [BlogEntries]([Id]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [TagBlogEntries] ADD CONSTRAINT [FK_dbo.TagBlogEntries_dbo.Tags_Tag_Id] FOREIGN KEY ([Tag_Id]) REFERENCES [Tags]([Id]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [BlogEntryPingbacks] ADD CONSTRAINT [FK_dbo.BlogEntryPingbacks_dbo.BlogEntries_BlogEntryId] FOREIGN KEY ([BlogEntryId]) REFERENCES [BlogEntries]([Id]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [BlogEntryFiles] ADD CONSTRAINT [FK_dbo.BlogEntryFiles_dbo.BlogEntries_BlogEntryId] FOREIGN KEY ([BlogEntryId]) REFERENCES [BlogEntries]([Id]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [BlogEntryComments] ADD CONSTRAINT [FK_dbo.BlogEntryComments_dbo.BlogEntries_BlogEntryId] FOREIGN KEY ([BlogEntryId]) REFERENCES [BlogEntries]([Id]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO

